@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-primary: 'Roboto';

		--color-black: #151317;
		--color-violet: #512689;
		--color-gray: #808185;
		--color-gray-light: #f8f8f8;
		--color-red: #ff6161;
		--color-white: #ffffff;
	}

	html {
		scroll-behavior: smooth;
		background-color: var(--color-white);
		/* scrollbar-gutter: stable; */
	}

	body {
		@apply text-black overflow-x-hidden min-h-screen bg-white;
	}
}
